{% extends 'gifts/base.html' %}

{% block content %}
<div class="card mx-auto mt-5" style="max-width: 500px;">
    <div class="card-body">
        <h2 class="card-title mb-4">Create New Group</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Group Name</label>
                <input type="text" name="name" id="name" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">
                Create Group
            </button>
        </form>
    </div>
</div>
{% endblock %}
