{% extends 'gifts/base.html' %}

{% block content %}
<h1 class="mb-4">Invite User to {{ group.name }}</h1>

<form method="post" class="mb-4">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">User's Email</label>
        <input type="email" name="email" id="email" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">
        Send Invitation
    </button>
</form>

{% if messages %}
    <div class="mb-4">
        {% for message in messages %}
            <p class="{% if message.tags %}{{ message.tags }}{% endif %} small">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<div>
    <a href="{% url 'group_detail' group.id %}" class="text-primary">
        Back to Group Details
    </a>
</div>
{% endblock %}
