# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Django specific
*.log
db.sqlite3
media/

# IDE specific (for common IDEs)
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db
